body {
  display: flex;
  justify-content: space-evenly;
  height: 100vh;
  margin: 0;
}

.Home-header {
    background-color:  rgb(62, 104, 62);
    padding: 20px;
    width:100vw;
    height:10vh;
    color: white;
    text-align: center;
    font-size: large;
}
  
.container {
    display: flex;
    width: 20em;
    margin: 2em;
    gap: 5em;
    height: 90vh;
    width: 400px;
    padding: 50px;
    justify-content: space-evenly;
    align-content: center;
    justify-items: center;
    flex-direction: row;
  }
  
  input {
    padding: 5px;
    margin-right: 5px;
    border: 1px solid rgb(62, 104, 62);;
    border-radius: 4px;
    width: 150px;
    height:50px;
  }
  
.add {
    padding: 5px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    width: 100px;
    height:50px;
}

button {
  background-color: #eef3c6;
}
  
button:hover {
    background-color: rgb(62, 104, 62);
  }
  
ul {
    list-style-type: none;
    padding: 0;
  }
  
.ingredient {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    gap: 5px;
  }
li {
  padding: 8px;
  background-color: #c5bfbf;
  border: 1px solid #c5bfbf;
  border-radius: 2px;
}
.recipe-button {
  width: 60%;
  height: 5vh;
  border: 1px solid #c5bfbf
}

.signOut {
  width: 20%;
  height: 5vh;
  border: 1px solid #ffffff
}

.deleter {
  border: 1px solid #ffffff;
}

.ingList {
  gap: 5px;
  margin: 5px;
}

.recipeDisplay {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  column-gap: 20px;
}
.recipeLook {
  grid-column: 1;
}
.instructions {
  grid-column: 2;
}


@media(max-width:900px) {
  .container {
      height: 70vh;
      width: 80vw;
      display: flex;
      flex-direction: column;
  }
  .ingredient {
    display:flex;
    flex-direction: row;
  }
  .ingList {
    gap: 5px;
    display:flex;
    justify-items: flex-start;
    flex-wrap: wrap;
  }
  .recipeDisplay {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 20px;
  }
  .recipeLook {
    grid-column: 1;
  }
  .instructions {
    grid-column: 1;
  }
}