.contain {
    display: flex;
    justify-content: center;
    align-items:space-around;
    flex-direction: row;
    align-content: space-between;
}
form {
    display: flex;
    flex-direction: column;
    margin: 2em;
    gap: 1em;
    height: 40vh;
    width: 50vw;
    padding:20px;
    align-content: center;
    color: rgb(62, 104, 62);
}

.button {
    background-color:rgb(62, 104, 62);
    height: 20px;
    padding: 0;
    width: 100%;
    border-right-width: 1px;
    border-left-width: 1px;
    border-top-width: 1px;
    border-bottom-width: 1px;
}

@media(max-width:900px) {
    .form {
        height: 70vh;
        width: 75vw;
    }
}